{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    <style>
        h1
        {
            color:navy;
        }
        h2
        {
            color:purple;
        }
    </style>
</head>
<body>
        <h1>Welcome to CABLE-CROSS Excerises</h1>
        <h2>Rules:</h2>
        <h3>
            <ol>
                <li>Standing up, grab the handles, one in each hand.</li><br>
                <li>Take one step forward so the weights in the cable machine slightly come out of the stack.</li><br>
                <li>Cables should be stretched and you should feel the weights pushing back your hands.</li><br>
                <li>Keep your back straight at all times during the exercise.</li>
            </ol>
        </h3>
        <center>
        <button type="button" class="btn btn-light-blue btn-md"><a href="{% url 'menu_card' %}">Done</a></button>
        </center>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/poper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>

</body>
</html>
