{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    <style>
        h1
        {
            color:darkturquoise;
        }
        h2
        {
            color:black;
        }
    </style>
</head>
<body>
        <h1>Welcome to CALISTHENICS Excerises</h1>
        <h2>Rules:</h2>
        <h3>
            <ol>
                <li>Keep Your Reps Low.</li><br>
                <li>Lift Heavy.</li><br>
                <li>Keep Your Sets High.</li><br>
                <li>Take Rest Periods of at Least Three Minutes.</li><br>
                <li>Focus on Specific Movements.</li><br>
                <li>Avoid Muscle Failure.</li>
            </ol>
        </h3>
        <center>
        <button type="button" class="btn btn-light-blue btn-md"><a href="{% url 'menu_card' %}">Done</a></button>
        </center>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/poper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>

</body>
</html>
