{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    <link rel="stylesheet" href="{% static 'css/password.css' %}">
</head>
<body>
    <center>
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">
            <a class="navbar-brand" href="#" id="logo">LOKESH GYM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
              aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link"style="color: blue;" href="{% url 'mdb1' %}">HOME PAGE
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color: blue;" href="{% url 'login' %}">LOGIN PAGE</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  style="color: blue;" href="{% url 'registration' %}">REGISTRATION</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color: blue;" href="{% url 'menu_card' %}">MENU CARD</a>
                  </li>
                </ul>
              <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item avatar">
                  <a class="nav-link p-0" href="#">
                    <img src="{% static 'images/img1.jpg' %}" class="rounded-circle z-depth-0"
                      alt="avatar image" height="40">
                  </a>
                </li>
              </ul>
            </div>
          </nav>
<form class="text-center border border-light" action="#!">
    <p class="h4 mb-4 mt-3">Reset Password</p>
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder=" ConformPassword">
    <button class="btn btn-info" type="submit"><a href="{% url 'login' %}">Submit</a></button>
  
    <!-- <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a> --> 

</form>
    </center>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/poper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>
</body>
</html>