
#logo{
    margin-left: 30px;
    letter-spacing: 3px;
}
#logo::first-letter{
    color:blue;
    font-size: 25px;
    border: 2px solid black;
    padding: 8px;
    border-radius: 0 10px 0 10px;
    background-color: aqua;
    margin-right: 2px;
}
