#logo{
    margin-left: 30px;
    letter-spacing: 3px;
}
#logo::first-letter{
    color:blue;
    font-size: 25px;
    border: 2px solid black;
    padding: 8px;
    border-radius: 0 10px 0 10px;
    background-color: aqua;
    margin-right: 2px;
}
.border
{
    width: 500px;
    height: 380px;
    margin-top: 50px;
    color:white;
    background-color:rgb(245, 117, 143);
}